
@{
    ViewBag.Title = "ResultCadi";
}

<h2>Details of your recent mock test results</h2>


@if (HttpContext.Current.Session["ScoreCadi"] != null)
{
    <h3>Total Score: @HttpContext.Current.Session["ScoreCadi"]</h3>

}
<div>
    <canvas id="myChart"></canvas>
</div>