
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<main class="content-wrapper">
    <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-8">
                <div class="mdc-card">
                    <div class="d-flex justify-content-between align-items-center">
                        <h4 class="card-title mb-2 mb-sm-0">Quantity Cadidate Of Vancies</h4>
                        <div class="d-flex justtify-content-between align-items-center">
                            <p class="d-none d-sm-block text-muted tx-12 mb-0 mr-2">Goal reached</p>
                            <i class="material-icons options-icon">more_vert</i>
                        </div>
                    </div>


                    <div>
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>

