@model AccpSem3.Models.ModeView.DepartmentView
@{
    ViewBag.Title = "PageUpdateDep";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell--span-12">
            <div class="mdc-card">
                <h6 class="card-title">Edit Depart</h6>
                <div class="template-demo">
                    <form action="/Admin/SubmitUptDep" method="post" enctype="multipart/form-data" id="frmData">
                        <div class="mdc-layout-grid__inner">
                            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
                                <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon">
                                    <input type="text" name="id" value="@ViewBag.idName" style="display: none" />
                                    <input class="mdc-text-field__input" name="DName" id="text-field-hero-input" value="@Model.Dname @ViewBag.DName">
                                    <div class="mdc-notched-outline">
                                        <div class="mdc-notched-outline__leading"></div>
                                        <div class="mdc-notched-outline__notch">
                                            <label for="text-field-hero-input" class="mdc-floating-label">Name Depart</label>
                                        </div>
                                        <div class="mdc-notched-outline__trailing"></div>
                                    </div>
                                </div>
                            </div>
                        </div><br />
                        <button type="submit" id="btnSave" class="btn-primary accordion-button">Edit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

