USE [master]
GO
/****** Object:  Database [AccpSem3]    Script Date: 26-Apr-24 9:37:37 AM ******/
CREATE DATABASE [AccpSem3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AccpSem3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.TAN_SERVER\MSSQL\DATA\AccpSem3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AccpSem3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.TAN_SERVER\MSSQL\DATA\AccpSem3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AccpSem3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AccpSem3]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 26-Apr-24 9:37:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](100) NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 26-Apr-24 9:37:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](100) NULL,
	[password] [varchar](100) NULL,
	[email] [varchar](200) NULL,
	[fisrtname] [nvarchar](20) NULL,
	[lastname] [nvarchar](50) NULL,
	[status] [int] NULL,
	[role] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
